# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# MacOS
.DS_Store

# IDE
.idea/

# Model checkpoints
models/checkpoints/

# Logs
logs/

# Environment
.env

